<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--Domain 测试-->
    <container name="registers">
      <register type="VPiao.Domain.Interface.Account.IVPiaoAccount, VPiao.Domain.Interface"
                mapTo="VPiao.Domain.Account.BusinessObjects.VPiaoAccount, VPiao.Domain.Account">
        <constructor>
        </constructor>
      </register>      	  
    </container>
    <!--END-->
  </unity>
</configuration>
