<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <log4net>
    <logger name="AccountLogger">
      <appender-ref ref="AccountAppender"/>
    </logger>
    <logger name="DefalutLogger">
      <appender-ref ref="FileAppender"/>
    </logger>
    <logger name="OnlinePaymentLogger">
      <appender-ref ref="OnlinePaymentAppender"/>
    </logger>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\" />
      <appendToFile value="true" />
      <DatePattern value="yyyyMMdd'\\log.log'" />
      <rollingStyle value="Date" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="AccountAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\" />
      <appendToFile value="true" />
      <DatePattern value="yyyyMMdd'\\Account.log'" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="2MB" />
      <rollingStyle value="Date" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="OnlinePaymentAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\" />
      <appendToFile value="true" />
      <DatePattern value="yyyyMMdd'\\OnlinePayment.log'" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="2MB" />
      <rollingStyle value="Date" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
    </root>
  </log4net>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <services />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
          <!--set data size-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
        <binding name="testbingding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IVPiaoService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IAccountService"  closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IChannelService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IProductService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IOrderService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IUserService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IETicketService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_ISendMessageService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IOnlinePaymentService" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>

      </basicHttpBinding>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IAsyncSender">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" bindingConfiguration="testbingding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <client>

      <endpoint address="http://localhost:8034/VPiaoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPiaoService" contract="VPiaoServiceReference.IVPiaoService" name="BasicHttpBinding_IVPiaoService" />
      <endpoint address="http://localhost:8034/VPiaoProduct.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPiaoService" contract="VPiaoProductService.IVPiaoProduct" name="BasicHttpBinding_IVPiaoService" />
      <endpoint address="http://localhost:8034/SMSChannelService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPiaoService" contract="SMSChannelServiceReference.ISMSChannelService" name="BasicHttpBinding_IVPiaoService" />
      <endpoint address="http://localhost:8034/VPiaoUser.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVPiaoService" contract="VPiaoUserReference.IVPiaoUser" name="BasicHttpBinding_IVPiaoService" />
      <endpoint address="http://localhost:8034/VPiaoBalance.svc" binding="basicHttpBinding"  bindingConfiguration="BasicHttpBinding_IVPiaoService" contract="VPiaoBalanceService.IVPiaoBalance"  name="BasicHttpBinding_IVPiaoBalance" />
      <endpoint address="net.msmq://10.18.130.10/private/UniversalServices/AsyncSend.svc" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IAsyncSender" contract="MessageServices.IAsyncSender" name="NetMsmqBinding_IAsyncSender" />
      <endpoint address="http://127.0.0.1:8034/VPiaoOpen.svc" binding="basicHttpBinding"    bindingConfiguration="BasicHttpBinding_IVPiaoService" contract="VPiaoOpenService.IVPiaoOpen"  name="BasicHttpBinding_IVPiaoOpen" />
      <endpoint address="http://localhost:8051/AccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService" contract="VPiao.Distributed.Interface.Account.IAccountService" name="BasicHttpBinding_IAccountService" />
      <endpoint address="http://localhost:8051/ChannelService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChannelService" contract="VPiao.Distributed.Interface.Channel.IChannelService" name="BasicHttpBinding_IChannelService" />
      <endpoint address="http://localhost:8051/ProductService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService" contract="VPiao.Distributed.Interface.Product.IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:8051/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="VPiao.Distributed.Interface.User.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:8052/OrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="VPiao.Distributed.Interface.Order.IOrderServiceNew" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8051/ETicketService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IETicketService" contract="VPiao.Distributed.Interface.ETicket.IETicketService" name="BasicHttpBinding_IETicketService" />
      <endpoint address="http://localhost:8051/SendMessageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISendMessageService" contract="VPiao.Distributed.Interface.SendMessage.ISendMessageService" name="BasicHttpBinding_ISendMessageService" />
      <endpoint address="http://localhost:8051/OnlinePaymentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService" contract="VPiao.Distributed.Interface.OnlinePayment.IOnlinePaymentService" name="BasicHttpBinding_IOnlinePaymentService" />
      <!--mts接口-->
      <!--<endpoint address="http://mts2.mjtx.cn:8227/MTSAgentService.asmx"
            binding="basicHttpBinding" bindingConfiguration="MTSAgentServiceSoap"
            contract="MtsService.MTSAgentServiceSoap" name="MTSAgentServiceSoap" />-->
      <endpoint address="http://ceshi.mjtx.cn:8227/MTSAgentService.asmx" binding="basicHttpBinding" bindingConfiguration="testbingding" contract="MtsService.MTSAgentServiceSoap" name="MTSAgentServiceSoap" />

      <!--贝竹接口-->
      <endpoint address="http://www.bzezt.com/index.php/bzsoap/bzapi"
          binding="basicHttpBinding" bindingConfiguration="testbingding"
          contract="BeiZhuService.getmesxmlPortType" name="getmesxmlPort" />

    </client>
  </system.serviceModel>

  <connectionStrings>
    <add name="DbConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=OpenFrame;User ID=sa;Password=test" />
  </connectionStrings>
    
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
